*{
	margin: 0;
	padding: 0;
}

body{
	
	/*body中的内容超出的就隐藏
	  还可以使用scroll
	*/
	overflow: hidden;
	background: #000;
}
/*场景的景深*/
#perspective{
  perspective:800px;
}

#wrap{
	
	position: relative;
	width:160px;
	height: 240px; 
	border: 1px solid #000;
	margin: 350px auto;
	transform-style:preserve-3d; 
	transform: rotateX(0deg) rotateY(0deg);
}

#wrap img{
	position: absolute;
	width: 160px;
	height: 240px;
	top:0;
	border: 1px solid red;
	/*倒影从下到上，top表示结束*/
	-webkit-box-reflect:below 5px -webkit-linear-gradient(top,rgba(0,0,0,0) 40%,rgba(0,0,0,0.5) 100%) ;
	transform:rotateX(0deg) rotateY(0deg);
}